version: 2.1
jobs:
  build:
    docker:
      - image: microsoft/dotnet:2.1.300-sdk
    steps:
      - run: env
      - checkout
      - run: find .
      - run: apt-get update
      - run: apt-get install default-jre -y
      - run: echo 'export PATH=$HOME/.dotnet/tools:$PATH' >> $BASH_ENV
      - run: dotnet tool install --global dotnet-sonarscanner --version 4.6.0
      - run: bash ./build/ci.sh