body {
    background: #c8c8c8 !important;
}

.ui.table td, th {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.app {
    margin: auto;
    margin-bottom: 17px !important;
    border: 0px !important;
    border-radius: 0% !important;
    box-shadow: none !important;
}

.app-content {
    margin-top: 70px;
    background: #c8c8c8 !important;
}

.result-card {
    width: 100% !important;
}

.result-meta {
    margin-top: 5px;
}

.search-container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1200px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.search-segment {
    margin-top: 15px !important;
}

.search-options {
}

@media only screen and (max-width: 767px) {
    .search-options-hide-no-slots {
        margin-left: 0px;
        margin-top: 20px;
    }
}

@media only screen and (min-width: 768px) {
    .search-options-hide-no-slots {
        margin-left: 20px;
    }
    .transferlist-progress {
        max-width: 300px;
        width: 300px;
    }
}

@media only screen and (max-width: 767px) {
    .search-options-sort {
        width: 100%;
    }

    .transferlist-progress {
        width: 100%;
    }
}

.search-input {
    width: 100%;
}

.search-loader {
    margin-top: 50px !important;
}

.filelist-header {
    margin-top: 20px !important;
}

.filelist-selector, .transferlist-selector {
    width: 40px;
}

.filelist-filename {
    word-wrap: break-word !important;
}

.filelist-size {
    width: 100px;
}

.filelist-bitrate {
    width: 70px;
}

.filelist-length{
    width: 65px;
}

.transfer-button {
    color: black;
}

.transfer-card {
    width: 1200px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.transfer-segment {
    margin-top: 16px;
    padding-left: 15px;
    padding-right: 15px;
}

.transfer-placeholder {
    font-weight: 100;
    text-align: center;
    margin-top: 50px !important;
}

.transferlist-size {
    width: 150px;
    min-width: 150px;
}

.transferlist-filename {
    word-wrap: break-word !important;
}

.showmore-button {
    padding: 20px !important;
    max-width: 1200px !important;
    margin: auto !important;
}

.login-button {
    margin-top: 0px !important;
}

.login-failure {
    text-align: left;
}