body {
    background: #e7e7e7 !important;
}

.ui.table td, th {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.app {
    margin: auto;
}

.result-card {
    width: 800px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.result-meta {
    margin-top: 5px;
}

.search-segment {
    width: 800px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 15px !important;
}

.search-input {
    width: 100%;
}

.filelist-header {
    margin-top: 20px !important;
}

.filelist-selector {
    width: 40px;
}

.filelist-filename {
    width: 500px;
    min-width: 500px;
    word-wrap: break-word !important;
}

.filelist-size {
    width: 100px;
}

.filelist-bitrate {
    width: 70px;
}

.filelist-length{
    width: 65px;
}