body {
    background: #e7e7e7 !important;
}

.app {
    margin: auto;
}

.resultCard {
    width: 800px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.resultMeta {
    margin-top: 5px;
}

.searchSegment {
    width: 800px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 15px !important;
}

.searchInput {
    width: 100%;
}