body {
    background: #e7e7e7 !important;
}

.app {
    margin: auto;
}

.result-card {
    width: 800px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.result-meta {
    margin-top: 5px;
}

.search-segment {
    width: 800px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 15px !important;
}

.search-input {
    width: 100%;
}

.filelist-header {
    margin-top: 20px !important;
}