@media only screen and (min-width: 768px) {
  .chat-history {
      height: calc(100vh - 291px);
  }
}

@media only screen and (max-width: 767px) {
  .chat-history {
      height: calc(100vh - 128px);
  }
}

.chat-menu {
  margin-top: 15px !important;
}

.conversation-menu {
  overflow-x: auto;
  box-shadow: unset !important;
  height: 47px;
}

.conversation-menu > .menu-item {
  font-size: 14pt;
}

.conversation-menu > .menu-active {
  font-weight: bold !important;
}

.conversation-menu > .menu > .add-button {
  margin: 0px;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  border-radius: 0%;
} 

.chat-container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 17px;
}

.chat-history {
  padding: .5em !important;
  margin-bottom: 17px;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y proximity;
}

.chat-active > .content > .segments {
  box-shadow: unset !important;
}

.chat-message-name {
  font-weight: bold;
}

.chat-message-time {
  float:right;
  opacity: .5;
  font-size: smaller;
  font-variant: small-caps;
  font-style: italic;
}

.chat-message-self {
  color: blue;
}

.chat-input {
  padding: 0px 0px 0px 1em !important;
}

.chat-message-button {
  background-color: transparent !important;
}

#chat-history-scroll-anchor {
  scroll-snap-align: start
}